/*.col-lg-3 .col-md-3 .col-sm-12 .col-xs-12 .padding-0{*/

/*    padding: 0;*/

/*    margin: 0;*/

/*}*/

/*.vertical-menu{*/

/*    width: 100%;*/

/*}*/

/*.vertical-menu a{*/

/*    background-color: #eee;*/

/*    color: black;*/

/*    display: block;*/

/*    padding: 12px;*/

/*    text-decoration: none;*/

/*}*/

/*.vertical-menu a:hover{*/

/*    background-color: #ccc;*/

/*}*/

/*.vertical-menu a.active{*/

/*    background-color: #4CAF50;*/

/*    color: white;*/

/*}*/

.header_slide {
  margin-top: 10px;
}

.header_bottom_left {
  float: left;
  width: 25%;
}

.categories {
  border: 1px solid #EEE;
}

.categories h3 {
  font-size: 1.2em;
  color: #FFF;
  padding: 10px;
  background: #B81D22;
  text-transform: uppercase;
  font-family: "ambleregular";
}

.categories li a {
  display: block;
  font-size: 0.8em;
  padding: 8px 15px;
  color: #9C9C9C;
  font-family: "ambleregular";
  margin: 0 20px;
  background: url(/images/drop_arrow.png?5330a80a9d555d6017a09712e9b44fc0) no-repeat;
  border-bottom: 1px solid #EEE;
  text-transform: uppercase;
}

.categories li:last-child a {
  border: none;
}

.categories li a:hover {
  color: #B81D22;
}

.header_bottom_right {
  float: left;
  width: 74%;
  padding-left: 1%;
}

